*{
    margin:0px;
    padding:0px;
}

body{
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri;
}
@font-face {
    font-family: 'Norse-Bold';
    src: url('fonts/Norse-Bold.otf') format('opentype');
}

.main-container
{
    display:flex;
    flex-direction:row;
    height:100vh;
      
    background-color:black
}

.left{
    position:relative;
    width:460px;
    height:100vh;
    background-image: url('./images/backgroud.jpg');
    background-size: cover;
    background-position: center;
    
}

.logo
{
    position: absolute;   /* allows overlapping */
  top: 170px;            /* adjust depending on placement */
  left: 120px;
  z-index: 10; 
  display:flex;
  flex-direction:row;
    
}



.logo p{

    z-index:10;
    color:white;
    position:absolute;
    top:20px;
    left:100px;
    font-family:'Norse-Bold';
    font-size:70px;
}


.logo img {
    position: relative;
    z-index: 8;
}


.bg-color{
    background-color: black;
    position: absolute;
    top: 163px;
    opacity: 0.35;
    width: 460px;
    height: 135px;
    
    z-index: 5;
}

.uppertext
{
    font-size: 20px;
    padding-left:40px;
    padding-top:18px;
    
    
}

.right
{
    background-color:#F7F7F7;
    flex:1;
     max-width: 700px; 
    width: 100%;
    
    
}

.rightlow{

    padding-left:43px;
    margin-top:10px;
}

.rightmid
{
    padding-left:43px;
    margin-top:10px;
    position:relative;
    background-color:#ffffff;
    height:220px;
    padding-bottom:50px;
    margin-top:25px;
    box-shadow: 0px 5px 3px #ADADAD;
}

.midtext
{
    padding-top:20px;
    font-size:20px;
}

.bgcolor2
{
    background-color:white;
}

label{

    display:block;
    margin-bottom:11px;
    margin-top:11px;
    
}

form
{
    margin-top:18px;
    display:flex;
    flex-direction:row;
    gap:150px;
    
}


.lowtext
{
    margin-top:30px;
}

button
{
    background-color:#596D48;
    padding:8px 8px;
    padding-left:35px;
    padding-right:35px;
    color:white;
    border-radius:5px;
    border:none;
    margin-top:14px;

}

input {
  border: 1px solid #ced0d4;
  
  border-radius: 4px;
}

input [type="password"]:invalid{
    border : 1px solid red;
}

input:focus{
    border:1px solid rgb(1, 124, 69);
    outline:none;
box-shadow: 0 0 2px rgba(79, 79, 81, 0.4);
}